.service__img {
  position: relative;
  width: 288px;
  height: 216px;
  object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .service__img {
    width: 335px;
  }
}

@media screen and (min-width: 1440px) {
  .service__img {
    width: 376px;
  }
}
