.section-between {
  height: 42px;
  width: 100%;
  background-color: #DDE8F3;
}

@media screen and (min-width: 768px) {
  .section-between {
    height: 52px;
  }
}

@media screen and (min-width: 1024px) {
  .section-between {
    height: 67px;
  }
}
