.partner__next {
  cursor: pointer;
  /* Положение элемента задаётся относительно границ браузера: */
  position: absolute; /* без этого всё съедет */
  top: 23%;
  padding: 16px;
  transition: 0.6s ease;
  right: 0;
}

.partner__next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
