.company__img {
  margin-top: 18px;
  margin-left: 16px;
  margin-right: 16px;
  width: calc(100% - 32px);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .company__img {
    margin-top: 45px;
    margin-left: 40px;
    margin-right: 40px;
    width: calc(100% - 80px);
    margin-bottom: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .company__img {
    margin-top: 46px;
    margin-left: 48px;
    margin-right: 48px;
    width: calc(100% - 96px);
  }
}

@media screen and (min-width: 1280px) {
  .company__img {
    margin-top: 62px;
    margin-left: 87px;
    margin-right: 87px;
    width: calc(100% - 174px);
  }
}

@media screen and (min-width: 1440px) {
  .company__img {
    margin-left: 98px;
    margin-right: 98px;
    width: calc(100% - 196px);
  }
}
