
/* стили для индикаторов */
.roof__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0 15%;
  list-style: none;
}
/*
.roof__indicators:hover {
  opacity: 0.5;
  color: rgb(170, 44, 196);
}
*/
.roof__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  /*width: 15px;*/
  /*height: 15px;*/
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(19, 172, 255, 0.5);
  background-clip: padding-box;
  border: 3px solid rgba(19, 172, 255, 0.5);
  border-radius: 15px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.roof__indicators li.active {
  background-color: #39b016;
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 768px) {
  .roof__indicators li {
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
  .roof__indicators li.active {
    width: 20px;
    height: 20px;
  }
}

/*
@media screen and (min-width: 768px) {
  .roof__control {
    width: 30px;
    height: 40px;
  }
}*/
