.roof {
  position: relative;
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 200px;
  background-size: cover;
  /*z-index: -1;*/ /* за счет этого меню перекрывает экран, но страница перестает работать */
  margin-top: -13px;
}
