.partner__slide {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  animation-name: fade;
  animation-duration: 1.5s;
  /*background-color: green;*/
  /*height: 100%;*/
  /*width: 100px;
  height: 25px;*/
}
/*
.partner__slide:first-child {
  background-color: red;
}
*/
/*
.thise {
  order: -1;
  background-color: red;
}
*/
/* хорошо работает */

/*
.partner__slide:last-child {
  order: -1;
  background-color: red;
}
*/

@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}
