.service__grid {
  justify-items: center;
  display: grid;
  margin-left: 16px;
  margin-right: 16px;
  grid-row-gap: 18px;
  grid-template-columns: repeat(1, 1fr);
}


@media screen and (min-width: 768px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 70px;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .service__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 34px;
    grid-column-gap: 39px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .service__grid {
    grid-column-gap: 26px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .service__grid {
    grid-column-gap: 98px;
    margin-left: 60px;
    margin-right: 60px;
  }
}
