.roof__title {
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  -moz-transition: opacity 2s;
}

.roof__title:hover {
  color: red;
  opacity: 0.75;
}


@media screen and (min-width: 0px) {
  .roof__title {
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (min-width: 320px) {
  .roof__title {
    font-size: 13px;
    line-height: 17px;
  }
}
@media screen and (min-width: 400px) {
  .roof__title {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (min-width: 580px) {
  .roof__title {
    font-size: 17px;
    line-height: 21px;
  }
}
@media screen and (min-width: 768px) {
  .roof__title {
    font-size: 19px;
    line-height: 23px;
  }
}
@media screen and (min-width: 1024px) {
  .roof__title {
    font-size: 21px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .roof__title {
    font-size: 23px;
    line-height: 28px;
  }
}
