@import url(../vendor/normalize.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/logo/header__logo.css);

@import url(../blocks/body/body.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/box/footer__box.css);
@import url(../blocks/footer/end/footer__end.css);
@import url(../blocks/footer/info/footer__info.css);
@import url(../blocks/footer/line/footer__line.css);
@import url(../blocks/footer/text-big/footer__text-big.css);
@import url(../blocks/footer/second-row/footer__second-row.css);
@import url(../blocks/footer/text-small/footer__text-small.css);
@import url(../blocks/footer/link/footer__link.css);

@import url(../blocks/partner/but/partner__but.css);
@import url(../blocks/partner/img/partner__img.css);
@import url(../blocks/partner/next/partner__next.css);
@import url(../blocks/partner/prev/partner__prev.css);
@import url(../blocks/partner/slide/partner__slide.css);
@import url(../blocks/partner/slider/partner__slider.css);
@import url(../blocks/partner/title/partner__title.css);
@import url(../blocks/partner/partner.css);

@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/box/menu__box.css);
@import url(../blocks/menu/btn/menu__btn.css);
@import url(../blocks/menu/item/menu__item.css);
@import url(../blocks/menu/part/menu__part.css);
@import url(../blocks/menu/pic/menu__pic.css);
@import url(../blocks/menu/toggle/menu__toggle.css);

@import url(../blocks/roof/roof.css);
@import url(../blocks/roof/element/roof__element.css);
@import url(../blocks/roof/item/roof__item.css);
@import url(../blocks/roof/items/roof__items.css);
@import url(../blocks/roof/text/roof__text.css);
@import url(../blocks/roof/title/roof__title.css);
@import url(../blocks/roof/wrapper/roof__wrapper.css);
@import url(../blocks/roof/control/roof__control.css);
@import url(../blocks/roof/indicators/roof__indicators.css);
@import url(../blocks/roof/color/roof__color.css);


@import url(../blocks/section-between/section-between.css);

@import url(../blocks/service/service.css);
@import url(../blocks/service/field/service__field.css);
@import url(../blocks/service/grid/service__grid.css);
@import url(../blocks/service/intro/service__intro.css);
@import url(../blocks/service/item/service__item.css);
@import url(../blocks/service/overlay/service__overlay.css);
@import url(../blocks/service/text/service__text.css);
@import url(../blocks/service/text-special/service__text-special.css);
@import url(../blocks/service/title/service__title.css);
@import url(../blocks/service/img/service__img.css);
@import url(../blocks/service/last/service__last.css);


@import url(../blocks/company/company.css);
@import url(../blocks/company/img/company__img.css);
@import url(../blocks/company/text/company__text.css);
@import url(../blocks/company/text-special/company__text-special.css);

/*
@import url(../blocks/cover__overlay.css);
*/

@import url(../blocks/tech/tech.css);
@import url(../blocks/tech/img/tech__img.css);

@import url(../blocks/tech/info/tech__info.css);
@import url(../blocks/tech/info/tech__info_l.css);
@import url(../blocks/tech/info/tech__info_r.css);

@import url(../blocks/tech/line/tech__line.css);

@import url(../blocks/tech/section/tech__section.css);

@import url(../blocks/tech/text/tech__text_down.css);
@import url(../blocks/tech/text/tech__text_up.css);
@import url(../blocks/tech/text/tech__text.css);


@font-face {
  font-family: 'Bahnschrift';
  src: url("../vendor/fonts/Bahnschrift.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
