.menu__part_first {
  margin-bottom: 50px;
}
.menu__part {
  /*opacity: 1;*/
  display: flex;
  margin-left: 50px;
  /*
  transition-duration: .25s;
  transition: opacity 5s;
  -webkit-transition: opacity 5s;
  -o-transition: opacity 5s;
  -moz-transition: opacity 5s;
  */
}
/* .menu__part a:hover { */
/* выделяется узкая область элемента выбора */

.menu__part:hover {
  background-color: #cfd919;
  /*opacity: 0.55;*/
}

@media screen and (min-width: 768px) {
  .menu__part {
    margin-left: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .menu__part {
    margin-left: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .menu__part {
    margin-left: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .menu__part {
    margin-left: 170px;
  }
}
