.service__item {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .service__item {
    width: 335px;
  }
}

@media screen and (min-width: 1280px) {
  .service__item {
    width: 376px;
  }
}
