.footer {
  background-color: #57A7B3;
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

/* 320 768 1024 1280 1440 */

/*
@media screen and (min-width: 768px) {
@media screen and (min-width: 1024px) {
*/
@media screen and (min-width: 768px) {
  .footer {
    /*background-color: red;*/
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    /*background-color: green;*/
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    /*background-color: blue;*/
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    /*background-color: black;*/
  }
}
